<section class="page-content detail-page">
  <p *ngIf="!p2ps">
    <em>Yükleniyor...</em>
  </p>
  <div class="container page-content-wrapper" *ngIf="p2ps">
    <h2>P2P Podcastler (Cepyayınlar)</h2>
    <div class="row">
      <div class="col-lg-12">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" *ngFor="let p2p of p2ps" [routerLink]="['/p2p', p2p.slug]">
            <h5>{{p2p.title}}</h5>
            <p>
              {{p2p.shortDescription}}
            </p>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>